
.social{
    background-color: rgb(10, 10, 75);
    height: 80px;
    }
    .a{
        padding-left: 40px;
        color:white;
        padding-top: 30px;
        
    }
    #b,#c{
        padding-left: 20px;
    }
    #d{
        padding-left: 20px;
        padding-right: 20px;
    }
    .m{
       padding-left:500px;
    }
    .n,.o{
        padding-left: 40px;
    
    }
    img{height:40px;
    width:50px;
    padding-right: 60px;
    
    }
    .apollo{
        background-color:white;
        width: 400px;
        height:150px;
        display: inline-block;
        overflow: auto;
    }
    .i{
        height:100px;
        width:100px;
        padding-left: 50px;
        padding-top: 20px;
    }
    input{
        width: 450px;
                height: 40px;
                padding-left: 20px;
                outline: none;
              
    }
    .border{
        /* background-color: blueviolet; */
        border:solid 4px #2980b9;
        border-radius: 100px;
        height:50px;
        width:500px;
        /* padding-top: 30px; */
         padding-left: 20px;
         margin-top: 40px;
    }
    .search{
        border:none;
        border-color: none;
        
    }
    .set{
        background-color:white;
        width: 600px;
        height:150px;
        display: inline-block;
        overflow: auto;
    }
    .emergency{
        background-color: rgb(231, 20, 20);
        height:140px;
        width:200px;
        display: inline-block;
        overflow: auto;
        
        margin-top: 30px;
    }
    .emer{
       
        padding-left: 30px;
        color: white;
        padding-top:40px;
    }
    .life{
        background-color: rgb(39, 8, 99);
        height:140px;
        width:190px;
        display: inline-block;
        overflow: auto;
        margin-top: 30px;
        margin-left: 40px;
    }
    .lif{
        padding-left: 30px;
        color: white;
        padding-top:40px;
        
    }
    nav{
        text-align: left;
        position:relative;
        margin-left: -50px;
    }
    ul{
        list-style: none;
        position:absolute;
    }
    li{
        display: inline-block;
        height:4px;
        /* width:100px; */
        padding:15px;
        /* background-color: #2980b9; */
    }
      ul li li{
        display: none;
        /* background-color: blue; */
    }  
     ul li ul{ 
        margin-left:-50px;
        /* margin-top: 10px;  */
        position: absolute;
        z-index: 2;
        
    } 
      ul li:hover li{
        display: block;
         
    } 
    ul .ankur:hover{
        background-color:rgba(3, 24, 61, 0.37);
        color:black;
        
    }
    ul li li
{
    height:10px;
    width:200px;
    
    /* background-color: #2980b9; */
} 
.container{
     position: absolute;
     z-index: 100px;
    /* top:400px;
    left:250px;  */
    height:400px;
    width: 90%;
    /* background-color: #2980b9; */
    /* margin-top: 200px; */
    margin: 100px 0px 0px 100px;
    /* display: inline-block; */
/* position: absolute; */
}
img[src="file:///C:/Users/Divya/Desktop/project/prathab.jpg"]{
    height: 400px;
    width:90%;
    position:absolute;
    /* margin:auto; */
    /* margin-left: 200px; */
}
.appoinment{
    background-color: rgba(13,45,15,0.8);
    color:rgb(230, 195, 195);
    height:250px;
    z-index: 1;
    width:400px;
    /* display: inline-block; */
    position: absolute;
    margin-top: 110px;
    margin-left: 900px;
    padding-top:40px ;
}
.btn{
    padding-left: 30px;
    margin-left: 100px;
    padding-top: 10px;
    margin-top: 30px;
    background-color: blue;
    color: aqua;
}

.book{
    height:150px;
    width:110px;
    background-color:rgb(10, 10, 75);
    position: relative;
    top:500px;
    margin-top:50px;
    padding-left: 10px;
    color: white;
    display: inline-block;
    overflow: auto;
    margin-left: 10px;
    
}

.doctor,.plus,.host,.kit,.beat{
    height:150px;
    width:100px;
    background-color:rgb(10, 10, 75);
    position: relative;
    top:500px;
    margin-top:50px;
    padding-left: 10px;
    color: white;
    display: inline-block;
    overflow: auto;
    margin-left: 100px;
}

.amu{
    height:150px;
    width:110px;
    background-color:rgb(10, 10, 75);
    position: relative;
    top:500px;
    margin-top:50px;
    padding-left: 10px;
    color: white;
    display: inline-block;
    overflow: auto;
    margin-left: 100px;
}
 .covid{
    height:160px;
    width:100%;
    background-color: rgb(236, 158, 12);
    position: relative;
    top:500px;
}
 .nii{
     text-align: center;
     padding-top: 20px;
     padding-right: 700px;
 }
 .e{
     text-align: center;
     font-size: 20px;
    
 }
 .but{
     margin-left: 30px;
     padding: 15px;
     background-color: rgb(236, 158, 12) ;
 }
 .why{
     height:400px;
     width: 100%;
     background-color: white;
     position: relative;
     top:500px;
 }
 .phra{
     height:150px;
     width: 300px;
     background-color:white;
     position: absolute;
     left:400px;
     top:1370px;
     margin-left: 80px;
 }
 .aooo,.b,.c,.y,.id,.mm{
     margin-left: 80px;
 }
 .kis{
     background-color: green;
     height:400px;
     width:580px;
     margin-top: 100px;
     position: relative;
     left:900px;
    
 }
 img[src="file:///C:/Users/Divya/Desktop/project/kidney.jpg"]
 {height:400px;
    width:580px;
    
 }
 .three,.for,.five{
    padding-left: 50px;
 }
 
 .vid{
    height: 150px;
    width: 250px;
    /* background-color: aqua; */
    /* padding-left:70px; */
    text-align: center;
    margin-top: 50px;
 }
 .photo{
    height: 150px;
    width: 150px;
    padding-left: 70px;
 }
 video{
    height:400px;
    width:500px;
 }
 .cancer{
    height:410px;
    width:500px;
    display:inline-block;
    margin-top:40px;
 }
 iframe{
    border-style:solid;
    border-width: 20px;
    border-color:white;
 }
 .health{
    height:410px;
    width:410px;

    display:inline-block;
 }
 .class{
    height: 430px;
    width:450px;
    background-color:gainsboro;
    display: inline-block;
    overflow: auto;
    margin-left: 100px;
    
 }
 .col{
    border-radius: 50px;
    background-color: black;
    color: aliceblue;
    margin: 20px;
}
img[src="file:///C:/Users/Divya/Desktop/project/ritu.jpg"]
{
    height:80px;    
    width:100px;
  /* background-color: aqua; */
}
.pachva,.sixxx,.chotha,.tisra,.dusra{
    height:80px;
    width:450px;
    background-color: white;

    text-decoration: none;
}
img[src="file:///C:/Users/Divya/Desktop/project/ankita.jpg"]
{
    height:80px;
    width:100px;
    

}
img[src="file:///C:/Users/Divya/Desktop/project/rooma.jpg"]
{
    height:80px;
    width:100px;
}
.almost{
    height:500px;
    width:100%;
    background-color: gainsboro;

}
a{
    color:black;
}
.location{
    height:650px;
    width:100%;
    background-color: rgb(236, 200, 200) ;
    /* display: inline-block; */
/* overflow: auto; */
}
img[src="file:///C:/Users/Divya/Desktop/project/logo.png"]{
    height: 300px;
    width:350px;
    position: absolute;
    margin-top: 80px;
    margin-left: 200px;
    
}
.image{
    height:500px;
    width:700px;
    background-color:rgb(236, 200, 200) ;
    display: inline-block;
    overflow: auto;
}
.gps{
    height:550px;
    width:630px;
    background-color:rgb(236, 200, 200) ;
    display: inline-block;
/* overflow: auto; */
margin-left:100px;

}
p{
    margin-top: 20px;
    font-size: larger;
}
.mind{
    height:40px;
    width:150px;
    background-color: white;
   
    font-size:x-large;
    padding-left:5px;
    display: inline-block;
    margin-right:1rem;
    margin-bottom: 5px;
}
.vvv{
    height:40px;
    width:150px;
    background-color: white;
    
    margin-top:5px;
    padding-left: 5px;
    font-size: x-large;
display: inline-block;
margin-right: 1rem;
margin-bottom: 5px;
}
.box{
    border-radius: 40px;
    border: solid 4px black;
    background-color: #2980b9;
    height: 50px;
    font-size:20px ;
    outline: none;
}
.container-fluid{
    height:500px;
    width:900px;
    background-color: white;
    text-align: center;
    display:inline-block;
    overflow: auto;
}
.astpatal,.dil,.chikitsak,.question,.visa,.umbrella{
    background-color:white;
    width:290px;
    margin-left:20px;
    border:solid 2px gray;
    height:60px;
    display:inline-block;
    margin-top: 20px;
}
.fa-hospital-o,.fa-heart,.fa-male,.fa-question-circle,.fa-cc-visa,.fa-umbrella{
    float:left;
    margin:10px;

}
.p{
    padding-top:20px;
}
.hoto{
    height:500px;
    width: 577px;
   /* background-color: #2980b9; */
    display:inline-block;
    overflow: auto;
}
img[src="file:///C:/Users/Divya/Desktop/project/photo9.jpg"]{
    height: 500px;
    width:577px;
    position:absolute;
    padding-top: 30px;
}

img[src="hostpital.png"]{
        height:70px;
        width:100px;
       
        margin-top:10px;
}
.select{
    height:100px;
    width:150px;
    display: inline-block;
    background-color:white;
    overflow:auto;
   
}
.browser{
    width:100px;
   
    margin-top: 30px;

}
.grand{
    height:120px;
    width:96%;
    background-color: white;
    margin-left: 30px;

}
.help{
    width:10px;
    outline: none;
    height:10px;
}
.login{
    height:100px;
    width:150px;
    display: inline-block;
    background-color:white;
    overflow:auto;
    
  
}
.login:hover{
    color:blue;
}

.then{
    padding-top:20px;
    margin-left:30px;

}
.im{
    height:100px;
    width:400px;
    background-color: white;
    margin-left: 200px;
    display: inline-block;
    overflow:auto
}
.sear{
    height:100px;
    width:200px;
    display: inline-block;
    background-color:white;
    overflow: auto;
}

.box1{
    height:300px;
    width: 200PX;
    background-color: rgb(2, 2, 27);
    margin-top:20px;
    margin-left:30px;
    margin-right:30px;
    display: inline-block;
    overflow: auto;
}
.row{
    height:310px;
    width:600px;
   
    display: inline-block;
    
}
img[src="file:///C:/Users/Divya/Desktop/project/dr.jpg"]
{
    height:295px;
    width:780px;
    
    position:absolute;
    margin-top:10px;
}  
  
.third{
    height:300px;
    width: 225px;   
    background-color: rgb(2, 2, 27);
    
    margin-left:200px;
    margin-right:30px;
    display: inline-block;
    overflow: auto;
}
.bullan{
    height: 40px;
    width:100px;
    background-color:rgb(55, 11, 15);
    color:white;
    position:absolute;
    top:320px;
    left:450px;
    border:none;
}


.containnn{
    position: relative ;
}
.slider{
    height: 300px;
    width:90%;
    background-color: skyblue;
    margin-left:30px;
    margin-top:20px;  
    display: none;
    }
    .capt{
        height:30px;
        width:100%;
        text-align:center;
        font-size:30px;
        background-color:rgba(0,0,0,0.5);
        color:white;
        position: absolute;
        padding: 10px;
        margin-top:100px;
    }
    .left-arrow,.right-arrow{
position:absolute;
background-color:white;
color:black;
padding: 20px;
border-radius: 100%;
top:-70px;
left:40px;
}
.left-arrow{
    margin-left:8px;
}
.right-arrow{
    margin-left:1160px;
}
img[src="file:///C:/Users/Divya/Desktop/project/surgery.png"]
{
    height: 300px;
    width:94%;
    position: absolute;
}
img[src="file:///C:/Users/Divya/Desktop/project/photo5.jpg"]
{
    height: 300px;
    width:105%;
}
img[src="file:///C:/Users/Divya/Desktop/project/photo7.jpg"]
{
    height: 300px;
    width:105%;
}
img[src="file:///C:/Users/Divya/Desktop/project/medical.jpg"]
{
    height: 300px;
    width:105%;
}
.capt{
    height:30px;
    width:93%;
    text-align:center;
    font-size:30px;
    background-color:rgba(0,0,0,0.5);
    color:white;
    position: absolute;
    padding: 10px;
    margin-top:305px;
}

.left-arrow,.right-arrow{
    position:absolute;
    background-color: white;
    color:black;
    padding: 20px;
    border-radius: 100%;
   margin-top:200px;
    }
    .left-arrow{
        margin-left:8px;
    }
    .right-arrow{
        margin-left:1160px;
    }
/* .today{
    height: 40px;
    width:300px;
    background-color:rgb(3, 48, 66);
    color:white;
    position:absolute;
    top:670px;
    left:850px;
    border:none;
} */

 .ek{
    height:250px;
    width: 280px;
    background-color: rgb(9, 9, 136);
    margin-left:50px;
    padding: 5px;
    display: inline-block;
    /* overflow: auto; */
    border-radius: 100%;
    transition-property: all;
    transition-duration:1s;
    transition-timing-function: ease-out;
    /* transition-delay: 1s; */
}
.ek:hover{
    height:250px;
    width:250px;
    background-color: darkolivegreen;
    border:dotted 5px goldenrod;
}
.doo{
    height:250px;
    width: 290px;
    background-color: rgb(9, 9, 136);
    margin-left:30px;
    display: inline-block;
    /* overflow: auto; */
    border-radius: 100%;
    padding: 5px;
    border-radius: 100%;
    transition-property: all;
    transition-duration:1s;
    transition-timing-function: ease-out;
    transition-delay: 1s;
}
.doo:hover{
    height:250px;
    width:250px;
    background-color: darkolivegreen;
    border:dotted 5px goldenrod;
}
.teen{
    height:250px;
    width: 290px;
    background-color: rgb(9, 9, 136);
    margin-left:30px;
    display: inline-block;
    /* overflow: auto; */
    border-radius: 100%;
    transition-property: all;
    transition-duration:3s;
    transition-timing-function: ease-out;
    transition-delay: 1s;
    
}
.teen:hover{
    height:250px;
    width:250px;
    background-color: darkolivegreen;
    border:dotted 5px goldenrod;
}
.char{
    height:270px;
    width: 590px;
    background-color:black;
    margin-left:50px;
    margin-top:20px;
    position:absolute;
}
img[src="file:///C:/Users/Divya/Desktop/project/skynews.jpg"]
{
    height:250px;
    width: 300px;
}
.panch{
    height:250;
    width:300px;
    position: absolute;
    background-color: black;
    color:white;
    margin-left:300px;
    margin-top:50px;
}
.tommy{
    height: 40px;
    width:130px;
    background-color: white;
    color: blue;
    border:solid 5px none;
    
}
.copy{
    height:270px;
    width:580px;
    position: absolute;
    background-color:white;
    color:black;
    margin-left: 700px;
    margin-top:20px;
    border: solid 2px black;
    
}
img[src="file:///C:/Users/Divya/Desktop/project/prohealth.jpg"]
{
    height:270px;
    width:220px;
}
.care{
    height:230px;
    width:200px;
    margin-left:960px;
    margin-top:30px;
    position:absolute;
 
    
}
.divii{
    height:35px;
    width:130px;
    background-color: white;
    color: blue;
    padding:2px;
   
}
.eyes-icon,.nephrology,.psychaitrist,.pulmonology{
    height:330px;
    width:250px;
    background-color:whitesmoke;
    margin-left: 60px;
    display: inline-block;

    /* overflow: auto;   */
}
img[src="file:///C:/Users/Divya/Desktop/project/eye.jpg"]
{
    height: 100px;
    width: 200px ;
}
.margin-top{
    margin-top: 300px;
    margin-left: 60px;
}
.margin-left{
    margin-left: 60px;
}
.koob{
    margin-left: 10px;
}
img[src="file:///C:/Users/Divya/Desktop/project/Nephrology.png"]
{
    height: 100px;
    width: 200px ;  
}
img[src="file:///C:/Users/Divya/Desktop/project/brain.jpg"]
{
    height: 100px;
    width: 200px ;  
}
.psychaitrist{
  background-color: white;  
}
.pulmonology{
    background-color:rgb(197, 210, 216);
}
img[src="file:///C:/Users/Divya/Desktop/project/Pulmonology.png"]
{
    height: 100px;
    width: 200px ;  
}
ul{
    list-style: none;
    position: absolute;
    z-index:2;
}
.list{
    width:30%;
    /* background-color: rgb(219, 15, 15); */
    border-radius: 30%;
    /* position: absolute; */
    
}
.list-items{
    padding:10px 5px;
    display: block;
    height:20px;
    width:460px;
    background-color:rgb(199, 25, 25);
     
     border:2px   rgb(10, 10, 75) solid;
    border-radius: 20px;
    margin-bottom: 1px;
    color:black;
    margin-left:-30px;
}

  .patient{
    position:absolute;
    z-index:1;
 }   
